<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
 

	<!-- 
		1. product all
		2. insert product
		3. product detail[order]
	-->
	
	<!-- 1. product all -->
 	<select id="product_all" parameterType="int" resultType="ProductVO">
 		select
 			product_seq,
 			product_name,
 			product_price,
 			product_review_cnt,
 			product_purchase_cnt,
 			product_view_cnt,
 			product_contents,
 			product_etc1
		from
			product_tb
		where
			product_store_fk = #{product_store_fk}
		order by
			product_purchase_cnt DESC;
 	</select>
 	
 	<!-- 2. insert product -->
 	<insert id="product_insert" parameterType="ProductVO">
 		insert
 			into
		product_tb(
			product_store_fk,
			product_name,
			product_price,
			product_etc1
		)
		values(
			#{product_store_fk},
			#{product_name},
			#{product_price},
			#{product_etc1}
		)			
 	</insert>
 	
 	<!-- 3. product detail[order] -->
 	<select id="product_detail" parameterType="hashmap" resultType="ProductVO">
 		select
 			product_seq,
			product_store_fk,
			product_name,
			product_price,
			product_review_cnt,
			product_purchase_cnt,
			product_view_cnt,
			product_contents,
			product_etc1
		from
			product_tb
		where
			product_store_fk = #{product_store_fk}
		and
			product_seq = #{product_seq}
 	</select>
 	
 	<!-- 4. updat product view cnt -->
 	<update id="update_view_cnt" parameterType="hashmap">
 		update
 			product_tb
		set
			product_view_cnt = product_view_cnt + 1 
		where 
			product_seq = #{product_seq}
		and
			product_store_fk = #{product_store_fk}
 	</update>
 	
 	<!-- 5. update product purchase cnt -->
 	<update id="update_purchase_cnt" parameterType="hashmap">
 		update
 			product_tb
		set
			product_purchase_cnt = product_purchase_cnt + 1 
		where 
			product_seq = #{product_seq}
		and
			product_store_fk = #{product_store_fk}
 	</update>

 	<!-- 6. update product review cnt -->
 	<update id="update_review_cnt" parameterType="hashmap">
 		update
 			product_tb
		set
			product_review_cnt = product_review_cnt + 1 
		where 
			product_seq = #{product_seq}
		and
			product_store_fk = #{product_store_fk}
 	</update> 	
</mapper>