<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
 
	<!-- 
		1. store list
		2. store category
	-->
	
	<!-- 1. store list -->
	<select id="store_all" resultType="StoreVO">
		select
			store_seq,
			store_name,
			store_province,
			store_city,
			store_village,
			store_category,
			store_tel,
			store_latitude,
			store_longitude
		from
			store_tb
	</select>
	
	
	<!-- 2. store category -->
	<select id="store_category" parameterType="String" resultType="StoreVO">
		select
			store_seq,
			store_name,
			store_province,
			store_city,
			store_village,
			store_category,
			store_tel,
			store_latitude,
			store_longitude
		from
			store_tb
		where
			store_category = #{store_category}
	</select>	
	
	<!-- 3. store name -->
	<select id="store_name" parameterType="int" resultType="StoreVO">
		select
			store_name,
			store_category,
			store_province,
			store_city,
			store_village,
			store_tel,
			store_latitude,
			store_longitude
		from
			store_tb
		where
			store_seq = #{store_seq}
	</select>
</mapper>