<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
 
	<!-- 
		1. store list
		2. store ordermethod
	-->
	
	<select id="store_list_all" resultType="StoreVO">
		select
			sid,
			sname,
			saddr,
			simgurl
		from
			storeinfo
	</select>
	
	
	<select id="store_list" parameterType="String" resultType="StoreVO">
		select
			sid,
			sname,
			saddr,
			simgurl
		from
			storeinfo
		where
			s_category = #{s_category}
			
	</select>
	
	<select id="store_order_info" parameterType="String" resultType="StoreVO">
		select
			order_method,
			bitcoin_addr
		from
			storeinfo
		where
			sid = #{sid}
	</select>
	
	
	<select id="get_store_name" parameterType="String" resultType="StoreVO">
		select
			sname
		from
			storeinfo
		where
			sid = #{sid}
	</select>
	
	<insert id="registe_store" parameterType="StoreVO">
		insert
			into
		storeinfo(
			sid,
			sname,
			saddr,
			stel,
			simgurl,
			rname
		)
		values(
			#{sid},
			#{sname},
			#{saddr},
			#{stel},
			#{simgurl},
			#{rname}
		)
	</insert>
</mapper>