<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
 
	<!-- 
		1. store list
	-->
	
	<select id="store_list" resultType="StoreVO">
		select
			sid,
			sname,
			simgurl
		from
			storeinfo
			
	</select>
	
	
	
	<insert id="registe_store" parameterType="StoreVO">
		insert
			into
		storeinfo(
			sid,
			sname,
			saddr,
			stel,
			simgurl,
			rname
		)
		values(
			#{sid},
			#{sname},
			#{saddr},
			#{stel},
			#{simgurl},
			#{rname}
		)
	</insert>
</mapper>