<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    
    <!-- Mapping Mapper -->
   	<typeAliases>
		<typeAlias type="com.fintech.paysix.vo.LogVO" alias="LogVO"/>
		<typeAlias type="com.fintech.paysix.vo.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.fintech.paysix.vo.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.fintech.paysix.vo.StoreVO" alias="StoreVO"/>
		<typeAlias type="com.fintech.paysix.vo.OwnerOrderVO" alias="OwnerOrderVO"/>
		<typeAlias type="com.fintech.paysix.vo.TestVO" alias="TestVO"/>
		<typeAlias type="com.fintech.paysix.vo.OrderVO" alias="OrderVO"/>				
	</typeAliases>
	
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.SqlDateTypeHandler" javaType="java.sql.Date" jdbcType="DATE"/>
    </typeHandlers>

</configuration>	
